<%= image_tag "logowithcup.png", :class => "loginlogo" %>
<div class="logincontainer clearfix">
	<h1>Log in to your Slush Fund account</h1>
<%= form_tag "/login" %>

	<%= label_tag :email, "Email", :class => "loginlabel" %>
	<%= text_field_tag :email,"", :placeholder => "you@example.com", :class => "loginfield" %>
	
	<%= label_tag :password, "Password", :class => "loginlabel" %>
	<%= password_field_tag :password, :class => "loginfield" %>

	<%= submit_tag "Login", :class => "button loginbutton" %>

</div>