<p>Welcome to Slush Fund, <%= @attendee.name %>.</p>

<p><%= @fund.user.name %> has created a Slush Fund for the event <%= @fund.name %> happening on <%= @fund.party_time.strftime("%B %e, %Y")%> at <%= @fund.party_time.strftime("%l:%M %P")%>.  Everyone's chipping in, so click the link below to contribute and see the status of the Slush Fund!</p>

<p><%= link_to "Contribute!", "http://www.slushfund.me/funds/#{@fund.id}" %></p>
