<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= image_tag "logowithcup.png", :class => "loginlogo" %>
<div class="logincontainer clearfix">
	<h1>Create a Slush Fund account</h1>
  <div class="field">
    <%= f.label :name, :class => "loginlabel" %>
    <%= f.text_field :name, :class => "loginfield" %>
  </div>
  <div class="field">
    <%= f.label :email, :class => "loginlabel"  %>
    <%= f.text_field :email, :class => "loginfield" %>
  </div>
  <div class="field">
      <%= f.label :password, :class => "loginlabel"  %>
      <%= f.password_field :password, :class => "loginfield" %>
   </div>
   <div class="field">
      <%= f.label :password_confirmation, :class => "loginlabel"  %>
      <%= f.password_field :password_confirmation, :class => "loginfield" %>
  </div>
  <div class="loginbutton">
    <%= f.submit %>
  </div>
</div>

<% end %>
