<%= notice %>
<div class="header clearfix">
	<%= image_tag "headerlogo.png", :class => "headerlogo" %>
	<div class="innerheader">
		Invite some friends
	</div>
	
</div>
<div class="formcontainer clearfix">
<!-- <h1>Invite Peeps</h1>
<p>Apparently you're having a party... Might be nice to invite some folks!</p> -->

<!-- <p>Attendee Mailing List</p> -->
<div class="rightform clearfix">
<ul class="invitelist">
<% @fund.attendees.each do |attendee| %>
<%= render "attendee", :attendee => attendee %>
<% end %>
</ul>
<p class="gotofund"><%= link_to "Go to your fund" , "/funds/#{@fund.id}" %></p>
<button class="button mail"><%= link_to "Mail these people" , "/mail/#{@fund.id}", :method => "post" %></button>
</div>

<!-- TODO CHANGE THIS STATEMENT TO USE A BEFORE FILTER FOR AUTHORIZATION -->
<span class="leftform clearfix">
	<%= form_for @attendee, :remote => true  do |f| %>
	  <% if @attendee.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this user from being saved:</h2>

	      <ul>
	      <% @attendee.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <div class="field">
	      <%= f.label :name, :class => "fieldlabel partynamelabel" %>
	      <%= f.text_field :name, :class => "fieldtext partynametext" %>
	    </div> 
	  <div class="field">
	      <%= f.label :email, :class => "fieldlabel" %>
	      <%= f.text_field :email, :class => "fieldtext" %>
	   </div>
		<%= f.hidden_field :fund_id, :value => @fund.id %>
		<%= f.submit "Add to list", :class => "addtolist" %>
	<% end %>
</span>	
<p class="fund_link_share">*Not inviting by email? Here's the link to your fund to share: <span style="font-weight:bold"><%= "www.slushfund.me/funds/#{@fund.id}"%></span></p>
</div>