<%= notice %>
<ul class="breadcrumbs clearfix">
	<li class="step stepone"><span class="stepnumber">1</span> <span class="stepname">Add Details<span></li>
	<li class="step steptwo"><span class="stepnumber">2</span> <span class="stepname">Invite Friends</span></li>
	<li class="step stepthree"><span class="stepnumber">3</span> <span class="stepname">Start Collecting Money</span></li>
</ul>
<div class="formcontainer clearfix">
<!-- <h1>Invite Peeps</h1>
<p>Apparently you're having a party... Might be nice to invite some folks!</p> -->

<!-- <p>Attendee Mailing List</p> -->

<ul class="rightform invitelist">
<% @fund.attendees.each do |attendee| %>
<%= render "attendee", :attendee => attendee %>
<% end %>
</ul>

<!-- TODO CHANGE THIS STATEMENT TO USE A BEFORE FILTER FOR AUTHORIZATION -->
<span="leftform">
	<%= form_for @attendee, :remote => true  do |f| %>
	  <% if @attendee.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this user from being saved:</h2>

	      <ul>
	      <% @attendee.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <div class="field">
	      <%= f.label :name %><br />
	      <%= f.text_field :name %>
	    </div> 
	  <div class="field">
	      <%= f.label :email %><br />
	      <%= f.text_field :email %>
	   </div>
		<%= f.hidden_field :fund_id, :value => @fund.id %>
		<%= f.submit "Add to list" %>
	<% end %>
</span>
	<p><%= link_to "Mail these people" , "/mail/#{@fund.id}", :method => "post" %></p>
	<p><%= link_to "Go to your fund" , "/funds/#{@fund.id}" %></p>
</div>