<li id="request_<%= request.id %>">
<%= request.item%> (<span class="votes"><%=request.votes%></span>) 
<%= link_to "Vote Up!", "/funds/#{fund.id}/request/#{request.id}/vote_up", :method => "post", :remote => true %>
<%= link_to "Delete" , "/funds/#{fund.id}/request/#{request.id}", :method => "delete" , :remote => true%>
</li>