<li id="request_<%= request.id %>" class="fundattendees">
<%= request.item%> (<span class="votes"><%=request.votes%></span>) 
<span class="paymyshare"><%= link_to "Vote Up!", "/funds/#{fund.id}/request/#{request.id}/vote_up", :method => "post", :remote => true %></span>

<% if @owner %>
<span class="paymyshare delete"><%= link_to "Delete" , "/funds/#{fund.id}/request/#{request.id}", :method => "delete" , :remote => true%></span>
<% end %>
</li>