<!-- <h1>Home</h1> -->
<p class="notice"><%= notice %></p>
<div class="homeheader clearfix">
	<%= image_tag "logo2.png", :class => "logo" %>
	<%= image_tag "coin.png", :class => "logocoin" %>
	<%= image_tag "solocup.png", :class => "logocup" %>

<%= link_to "Login","/login", :class => "largebutton login" %>
<%= link_to "Create Account","/users/new", :class => "largebutton createaccount" %>
		
</div>
<div class="homebottom clearfix">
	<div class="valueprop valueprop1">
		<h3>Create a Slush Fund</h3>
		<p>Need to collect money for a party? Create your own Slush Fund to quickly raise the $$ and keep track of your progress.</p>
	</div>
	<%= image_tag "coin.png", :class => "coin coin1" %>
	<%= image_tag "bounce.png", :class => "bounce bounce1" %>
	<div class="valueprop valueprop2">
		<h3>Collect Money</h3>
		<p>Watch as the cash rolls straight into your bank account.  Time to head to the store, grab everything for the party, and swipe your card!</p>
	</div>
	<%= image_tag "coin.png", :class => "coin coin2" %>
	<%= image_tag "bounce.png", :class => "bounce bounce2" %>
	<div class="valueprop valueprop3">
		<h3>Invite Your Friends</h3>
		<p>Invite your friends to contribute to your Slush Fund. Send reminders and keep track of who's paid up, and who still owes you money. </p>
	</div>
	<%= image_tag "coin.png", :class => "coin coin3" %>
	<%= image_tag "bounce.png", :class => "bounce bounce3" %>
	<%= image_tag "solocup.png", :class => "footercup" %>
</div>

