<!-- <h1>Home</h1> -->
<%= link_to "Get Started", new_user_url %> if you are new.

<%= link_to "Login", "/login" %> if you already signed up.
<p><%= notice %></p>
<div class="homeheader clearfix">
	<%= image_tag "logo.png", :class => "logo" %>
	<%= image_tag "solocup.png", :class => "logocup" %>
	<div class="largebutton login">Login
	</div>
	<div class="largebutton createaccount">Create Account
	</div>
		
</div>
<div class="homebottom clearfix">
	<div class="valueprop valueprop1">
		<h3>Create a Slush Fund</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a ligula urna, a malesuada lorem. Sed fermentum pulvinar dolor, id facilisis magna mattis ut. Fusce feugiat vehicula tellus, vitae facilisis purus tristique at.</p>
	</div>
	<%= image_tag "coin.png", :class => "coin coin1" %>
	<%= image_tag "bounce.png", :class => "bounce bounce1" %>
	<div class="valueprop valueprop2">
		<h3>Collect Money</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a ligula urna, a malesuada lorem. Sed fermentum pulvinar dolor, id facilisis magna mattis ut. Fusce feugiat vehicula tellus, vitae facilisis purus tristique at. </p>
	</div>
	<%= image_tag "coin.png", :class => "coin coin2" %>
	<%= image_tag "bounce.png", :class => "bounce bounce2" %>
	<div class="valueprop valueprop3">
		<h3>Invite Your Friends</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a ligula urna, a malesuada lorem. Sed fermentum pulvinar dolor, id facilisis magna mattis ut. Fusce feugiat vehicula tellus, vitae facilisis purus tristique at. </p>
	</div>
	<%= image_tag "coin.png", :class => "coin coin3" %>
	<%= image_tag "bounce.png", :class => "bounce bounce3" %>
	<%= image_tag "solocup.png", :class => "footercup" %>
</div>

