<!-- <h1>Home</h1> -->
<%= link_to "Get Started", new_user_url %> if you are new.

<%= link_to "Login", "/login" %> if you already signed up.
<p><%= notice %></p>
<div class="homeheader clearfix">
	<%= image_tag "logo2.png", :class => "logo" %>
	<%= image_tag "coin.png", :class => "logocoin" %>
	<%= image_tag "solocup.png", :class => "logocup" %>
	<div class="largebutton login">Login
	</div>
	<div class="largebutton createaccount">Create Account
	</div>
		
</div>
<div class="homebottom clearfix">
	<div class="valueprop valueprop1">
		<h3>Create a Slush Fund</h3>
		<p>Want to throw a party, but need to collect a little money first? Create your own Slush Fund to keep track of how much money you've raised, and how much you need to reach your party budget.</p>
	</div>
	<%= image_tag "coin.png", :class => "coin coin1" %>
	<%= image_tag "bounce.png", :class => "bounce bounce1" %>
	<div class="valueprop valueprop2">
		<h3>Collect Money</h3>
		<p></p>
	</div>
	<%= image_tag "coin.png", :class => "coin coin2" %>
	<%= image_tag "bounce.png", :class => "bounce bounce2" %>
	<div class="valueprop valueprop3">
		<h3>Invite Your Friends</h3>
		<p>Invite your friends to contribute to your Slush Fund. Send reminders and keep track of who's paid up, and who still owes you money. </p>
	</div>
	<%= image_tag "coin.png", :class => "coin coin3" %>
	<%= image_tag "bounce.png", :class => "bounce bounce3" %>
	<%= image_tag "solocup.png", :class => "footercup" %>
</div>

