<body>
<%= form_for(@fund) do |f| %>
  <% if @fund.errors.any? %>
    <div id="error_explanation">
      <strong><%= pluralize(@fund.errors.count, "error") %> prohibited this fund from being saved:</strong>

      <% @fund.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
	Click <%= link_to "Here", "/funds/new" %> to try again 
    </div>
  <% end %>

 <!-- deleted the user id form input and take care of assigning user id in create action using session cookie -->
<div class="formcontainer clearfix">
	<p id="all_fields">*All fields required</p>
	<span class="leftform clearfix">
  		<div class="field">
    	<%= f.label :name, :class => "fieldlabel partynamelabel" %>
    	<%= f.text_field :name, :class => "fieldtext partynametext" %>
  		</div>
		<div class="field">
			<%= f.label :host %>
			<%= f.text_field :host , :id => "host"%>
		</div>
		<div class="field">
    		<%= f.label :location %>
    		<%= f.text_field :location, :id => "location" %>
  		</div>
		<!-- <div class="field">
			<label for="address">Address</label>
			<input type="text" name="address" id="address">
		</div>
		<div class="field">
			<label for="city">City</label>
			<input type="text" name="city" id="city">
		</div>
		<div class="field state">
			<label class="statelabel" for="state">State</label>
			<input class="stateinput" type="text" name="state" id="state">
			<label class="ziplabel" for="zip">Zip</label>
			<input class="zipinput" type="text" name="zip" id="zip">
		</div> -->
		<div class="field">
    		<%= f.label :budget, :class => "fieldlabel partybudgetlabel" %>
    		<%= f.text_field :budget, :class => "partybudgettext" %>
  		</div>
	</span>
	<span class="rightform clearfix">
  		<div class="field">
    		<%= f.label :party_time, :class => "fieldlabel partytimelabel" %>
    		<%= f.datetime_select :party_time, :class => "fieldtext partytimetext", :order => [ :month, :day, :year], :ampm => true, :prompt => { :day => 'Day', :month => 'Month', :year => 'Year', :hour => "hr", :minute => "min" }, :start_year => Time.now.year %>
  		</div>
		<div class="field">
    		<%= f.label :deadline, "Pay Deadline" , :class => "fieldlabel deadlinelabel" %>
    		<%= f.datetime_select :deadline, :order => [ :month, :day, :year], :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }, :ampm => true, :prompt => { :day => 'Day', :month => 'Month', :year => 'Year', :hour => "hr", :minute => "min" }, :start_year => Time.now.year, :class => "fieldtext deadlinetext" %>
  		</div>
  		<div class="field">
    		<%= f.label :description, :class => "fieldlabel partydescriptionlabel" %>
    		<%= f.text_area :description, :class => "fieldtext partydescriptiontext" %>
		</div>
		<div class="actions clearfix">
			<div class="nextstep"><%= f.submit :class => "button nextstep"  %></div>

			<div class="cancel"><%= link_to 'Cancel', funds_path %></div>
		</div>
	</span>
</div>

<% end %>
</body>