<div class="reminderform">
<%= form_tag "/mail/reminder/#{@fund.id}" , :id => "reminder_form" , :style => "display:none" do %>
<p ><%= label_tag :subject %>
<%= text_field_tag :subject %></p>
<p class="reminderbody"><%= label_tag :Message%></p>
<p class="reminderbody"><%= text_area_tag :body ,"Enter reminder message", :size => "40x4" %></p>
<!-- <p>Send to:</p> -->
<p>Send to:<span class="radio"><%= radio_button_tag :recipients , "everyone", true%> Everyone</span><%= radio_button_tag :recipients , "unpaid"%> Not paid yet</p>
<p class="sendemail clearfix"><%= submit_tag "Send email" , :confirm => "Are you sure you want send this email out?" %></p>
<% end %>
</div>