<body><%= notice %>

<h1>My funds</h1>

<% if @funds.any? %>

<div class="myfundscontainer">
	<% @funds.each do |fund| %>
	<div class="fundlisting">
 		<h2 class="fundname"><%= fund.name %></h2>
  		<h3 class="fundbudget"><%= fund.budget %></h3>
	    <h4 class="funddate"><%= fund.party_time.day.ordinalize  %> <%= fund.party_time.strftime("%B %Y") %></h4>
		<p class="funddescription"><%= fund.description %></p>
	    <div class="smallbutton edit"><%= link_to 'Edit', edit_fund_path(fund) %></div>
	    <div class="smallbutton destroy"><%= link_to 'Destroy', fund, method: :delete, data: { confirm: 'Are you sure?' } %></div>
	  </div>
	<% end %>
	
<% else %>
	<p>Create your first ever slush fund!</p>
<% end %>

<br />
</div>
<div class="actions clearfix">
	<div class="nextstep"><% if @user.merchant_uri.present? %>
		<%= link_to 'New Fund', new_fund_path %></div>
	<% else %>
	<p>You do not have a bank account setup. You must set this up before you can begin accepting contributions.</p>
	<div class="nextstep"><%= link_to 'Setup Bank Account', setup_bank_path %></div>
	<% end %>
</div>
<br />
	


	<!-- <div class="nextstep">
	<%= button_to 'Start a new fund', new_fund_path %>
</div> -->
</div>
</body>