<body><%= notice %>

<h1>My funds</h1>

<% if @funds.any? %>

<div class="myfundscontainer">
	<% @funds.each do |fund| %>
	<div class="fundlisting">
		<h2 class="fundname"><%= fund.name %></h2>
		<h3 class="fundbudget"><%= fund.budget %></h3>
		<h4 class="funddate"><%= fund.party_time %></h4>
		<p class="funddescription"><%= fund.description %></p>
		<div class="smallbutton edit"><%= link_to 'Edit', edit_fund_path(fund) %></div>
		<!-- <div class="smallbutton edit"><%= link_to image_tag("edit_button.png"), edit_fund_path(fund) %></div> -->
		<div class="smallbutton destroy"><%= link_to 'Destroy', fund, method: :delete, data: { confirm: 'Are you sure?' } %></div>
	</div>
	<% end %>

<% else %>
	<p>Create your first ever slush fund!</p>
<% end %>

<br />
	
</div>
<div class="actions clearfix">
	<div class="nextstep">
	<%= button_to 'Start a new fund', new_fund_path %>
</div>
</div>
</body>