<%= notice %>

<h1>My funds</h1>


<% if @funds.any? %>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Party time</th>
    <th>Budget</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

	<% @funds.each do |fund| %>
	  <tr>
	    <td><%= fund.user_id %></td>
	    <td><%= fund.name %></td>
	    <td><%= fund.party_time %></td>
	    <td><%= fund.budget %></td>
	    <td><%= fund.description %></td>
	    <td><%= link_to 'Show', fund %></td>
	    <td><%= link_to 'Edit', edit_fund_path(fund) %></td>
	    <td><%= link_to 'Destroy', fund, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
	</table>
<% else %>
	<p>Create your first ever slush fund!</p>
<% end %>

<br />
<% if @user.merchant_uri.present? %>
<%= link_to 'New Fund', new_fund_path %>
<% else %>
<p>You do not have a bank account setup. You must set this up before you can begin accepting contributions.</p>
<p><%= link_to 'Setup Bank Account', setup_bank_path %></p>
<% end %>
