<p id="notice"><%= notice %></p>

<h2>Fund Status Page</h2>
<p>
  <b>Organizer:</b>
  <%= @user.name %>
</p>

<p>
  <b>Name:</b>
  <%= @fund.name %>
</p>

<p>
  <b>Party time:</b>
  <%= @fund.party_time %>
</p>

<p>
  <b>Budget:</b>
  <%= @fund.budget %>
</p>

<p>
  <b>Description:</b>
  <%= @fund.description %>
</p>

<div style="border-bottom:1px solid black; padding: 20px 0px">
<p><strong>Attendee List</strong></p>

<% @fund.attendees.each do |attendee| %>
<li id='attendee_<%=attendee.id%>'>
<%= attendee.name %> - 
<%= attendee.email %> 
<% if attendee.invited? %>
Invite sent
<% end %>

<% if @owner %>
<%= link_to "Delete" , "/funds/#{attendee.fund_id}/attendee/#{attendee.id}", :method => "delete" ,:remote => true%></li>
<% end %>
<% end %>



<!-- TODO CHANGE THIS STATEMENT TO USE A BEFORE FILTER FOR AUTHORIZATION -->
<% if @owner %><p><%= link_to "Invite more people!" , "/funds/#{@fund.id}/invite" %></p><% end %>

<% if @owner %><a href = "#" id="show_reminder_form">Send out a reminder email to those who haven't paid!</a>
<%= render 'reminderform' %><% end %>
</div>

<div style="border-bottom:1px solid black; padding: 20px 0px">
<ul id="request_list">
	<% @fund.requests.each do |request| %>
		<%= render '/requests/request', :request => request, :fund => @fund, :owner => @owner %>
	<% end %>
</ul>


<%= form_for @request , :remote => true do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <%= f.label :item %><br />
      <%= f.text_field :item %>
    </div> 
	<%= f.hidden_field :fund_id, :value => @fund.id %>
	<%= f.submit "Request!" %>
<% end %>
</div>

<p><%= link_to "Contribute to the Fund", "/funds/#{@fund.id}/contribute" %></p>
<%= link_to 'Edit', edit_fund_path(@fund) %> |
<%= link_to 'Back', funds_path %>
