
<p id="notice"><%= notice %></p>
<div class="header clearfix">
	<%= image_tag "headerlogo.png", :class => "headerlogo" %>
	<div class="innerheader">
		<%= @fund.name.upcase%> Status Page
	</div>
	
</div>
<div class="formcontainer clearfix">


<div class="leftform clearfix">
<h4>
  <strong>Host:</strong>
  <%= @user.name.upcase %>
</h4>

<h4>
  <b>Name:</b>
  <%= @fund.name %>
</h4>

<h4>
  <strong>Be there:</strong>
<%= @fund.party_time.day.ordinalize  %>
<%= @fund.party_time.localtime.strftime("%B %Y")%>
at
<%= @fund.party_time.localtime.strftime("%l:%M %P")%>
</h4>

   <!-- The line above the progress bar -->
  <p> $<%= @fund.amount_raised.to_i%> Raised of</p> <p>$<%= @fund.budget.to_i %> Budget Goal </p>

	
<!-- <div id="progress_bar_wrapper"><div id="progress_bar"></div></div>
<script>
	progress_bar(<%#=@percent_raised%>);
</script> -->
<p>
  <b>Description:</b>
  <%= @fund.description %>
</p>
</div>

<!-- <script>
countdown(<%#=@seconds%>);
</script>
<p><b>Contribution Deadline: <%#= @t_format %></b></p>
<%#= @seconds %>
<p class="countdown"></p> -->


<div class="rightform clearfix">
<p><strong>Attendee List</strong> (only invited)</p>

<% @fund.attendees.where(:invited => true).each do |attendee| %>
<li id='attendee_<%=attendee.id%>'>
<%= attendee.name %> - 
<%= attendee.email %> 
<%= "- Invite Sent -" if attendee.invited? %>
<%= link_to "Pay My Share", "/funds/#{@fund.id}/contribute?email=#{attendee.email}" unless attendee.paid? %>


<% if @owner %>
<%= link_to "Delete" , "/funds/#{attendee.fund_id}/attendee/#{attendee.id}", :method => "delete" ,:remote => true%></li>
<% end %>
<% end %>



<!-- TODO CHANGE THIS STATEMENT TO USE A BEFORE FILTER FOR AUTHORIZATION -->
<% if @owner %><p><%= link_to "Invite more people!" , "/funds/#{@fund.id}/invite" %></p><% end %>

<% if @owner %><a href = "#" id="show_reminder_form">Send out a reminder email to those who haven't paid!</a>
<%= render 'reminderform' %><% end %>

<%= link_to 'Edit', edit_fund_path(@fund) %> |
<%= link_to 'Back', funds_path %>
</div>

<div class="requestform">
<ul id="request_list">
	<% @fund.requests.each do |request| %>
		<%= render '/requests/request', :request => request, :fund => @fund, :owner => @owner %>
	<% end %>
</ul>


<%= form_for @request , :remote => true do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="request">
      <%= f.label :item, :class => "requestlabel" %>
      <%= f.text_field :item, :class => "requesttext" %>
    </div> 
	<%= f.hidden_field :fund_id, :value => @fund.id %>
	<%= f.submit "Request!", :class => "requestbutton" %>
<% end %>

<% if @owner %>
<%= link_to "Send this list to my phone", sms_list_path(:id => @fund.id) %>
<% end %>
</div>


</div>

<%if @avatar_string.include?("s3.amazonaws.com") %>
    <%= image_tag @fund.avatar.thumb %>
<%else%>
    <%= image_tag "slushfund_avatar.png" , :height => "150px"%>
<%end%>