
<div class="header clearfix">
	<%= image_tag "headerlogo.png", :class => "headerlogo" %>
	<div class="innerheader">
		<%= @fund.name.capitalize%> Status Page
	</div>
	
	
</div>

<div class="formcontainer clearfix fundstatus">
	<%#if @avatar_string.include?("s3.amazonaws.com") %>
	    <%#= image_tag @fund.avatar.thumb %>
	<%#else%>
	    <%#= image_tag "slushfund_avatar.png" , :height => "150px"%>
	<%#end%>
<div class="leftform clearfix">
		<p class="fund_status_notice"><%= notice %></p>
	<h4 class="statusinfo"><span class="statusname">Hosted by:</span> <%= @user.name.capitalize %></h4>
  


<!-- <h4>
  <b>Name:</b>
  <%= @fund.name %>
</h4> -->

	<h4 class="statusinfo"><span class="statusname">Be there:</span>
	<%= @fund.party_time.strftime("%B %e, %Y")%>
	at
	<%= @fund.party_time.strftime("%l:%M %P")%>
	</h4>
	<h4 class="statusinfo"><span class="statusname">Location:</span> <%= @fund.location%></h4>
<!-- <h4 class="statusinfo"><span class="statusname">Pay Deadline:</span> <%#= @fund.deadline.localtime.strftime("%B %e, %Y")%> at <%#= @fund.deadline.localtime.strftime("%l:%M %P")%></h4> -->
   <!-- The line above the progress bar -->
  <p> <span class="amountraised">$<%= @fund.amount_raised.to_i%></span></p> <p class="statusbudget">Raised $<%= @fund.amount_raised.to_i %> of $<%= @fund.budget.to_i %> Budget Goal </p>

<p class="statusdescription">
  <span class="statusname">Pay Deadline: </span><%= @fund.deadline.strftime("%B %e") %> at <%= @fund.deadline.strftime("%l:%M %P") %>
</p>
<p class="statusdescription">
  <span class="statusname">Description: </span><%= @fund.description %>
</p>

<% if @owner %>
<%= link_to 'Edit', edit_fund_path(@fund) %> |
<%= link_to 'Back to My Funds', funds_path %>
<% end %>
</div>

<div class="rightform clearfix attendeelist">
<h3>Attendee List</h3>
<div class="attendeecontainer">
<% @fund.attendees.where(:invited => true).each do |attendee| %>
<li id='attendee_<%=attendee.id%>' class="fundattendees">
<%= attendee.name %> - 
<%= attendee.email %> 
<!-- <%= "- Invite Sent -" if attendee.invited? %> -->
<span class="paymyshare"><!-- <%= image_tag "greencoin.png", :class => "paycoin" %> -->
<%= link_to "Pay My Share", "/funds/#{@fund.id}/contribute?email=#{attendee.email}" unless attendee.paid? %></span>

<span class="paymyshare deleteinvitee">
<% if @owner %>
<%= link_to "Delete" , "/funds/#{attendee.fund_id}/attendee/#{attendee.id}", :method => "delete" ,:remote => true%></span></li>
<% end %>
<% end %>

</div>
<div class="clearfix">
<!-- TODO CHANGE THIS STATEMENT TO USE A BEFORE FILTER FOR AUTHORIZATION -->
<% if @owner %><button><%= link_to "Invite more people!" , "/funds/#{@fund.id}/invite" %></button><% end %>

<% if @owner %><button><a href = "#" id="show_reminder_form">Send reminder email</a></button>
<%= render 'reminderform' %><% end %>
</div>


</div>




</div>
<div class="requestform clearfix">
<h3>Shopping List Suggestions</h3>
<div class="rightrequest">

	<ul id="request_list">
	<% @fund.requests.each do |request| %>
		<%= render '/requests/request', :request => request, :fund => @fund, :owner => @owner %>
	<% end %>
	</ul>
<%# if @owner %>
	<!-- <div class="sendlisttophone button"> -->
<%#= link_to "Send this list to my phone", sms_list_path(:id => @fund.id) %>
<!-- </div> -->
<%# end %>
</div>

<%= form_for @request , :remote => true do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="request">
      <%= f.label :item, :class => "requestlabel" %>
      <%= f.text_field :item, :class => "requesttext" %>
    </div> 
	<%= f.hidden_field :fund_id, :value => @fund.id %>
	<%= f.submit "Request!", :class => "requestbutton" %>
<% end %>

</div>