<!DOCTYPE html>
<html>
<head>
  <title>SlushFund</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
	<%= link_to "SlushFund" , root_url, :style => "float:left" %>
<% if session[:user_id] %>	
	<span style="float:right"><%= link_to User.find(session[:user_id]).name, user_url(session[:user_id]), :style => "margin-right:30px" %> <%= link_to "Logout","/login",:method => "delete", :style => "margin-right:30px" %></span>
<% end %>
</div>

<%= yield %>

</body>
</html>
