<!DOCTYPE html>
<html>
<head>
  <title>SlushFund</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
	<%= link_to "SlushFund" , root_url, :style => "float:left" %>
<% if session[:user_id] %>	
	<span style="float:right"><%= link_to User.find(session[:user_id]).name, user_url(session[:user_id]), :style => "margin-right:30px" %> <%= link_to "Logout","/login",:method => "delete", :style => "margin-right:30px" %></span>
<% else %>
	<span style="float:right"><%= link_to "Login","/login", :style => "margin-right:30px" %> <%= link_to "Sign Up","/signup", :style => "margin-right:30px" %></span>
<% end %>
</div>

<%= yield %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34898618-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
